# Reverse Array

In [1]:
lst=[2,3,1,4,6,7]

n=len(lst)

h=n-1


for l in range(n//2):
    
    lst[l],lst[h]=lst[h],lst[l]
    h-=1
    
print(lst)

[7, 6, 4, 1, 3, 2]

# Reverse String

In [2]:
string="AnamulHasanDhusor"

res=""

for i in string:
    
    res=i+res
print(res)

rosuhDnasaHlumanA

# Reverse Integer

In [96]:
integer=2345678

res=0

while(integer>0):
    
    last_digit=integer%10
    
    integer=integer//10
    
    res=res*10+last_digit
    
print(res)

8765432

# Palindome Integer

In [35]:
integer=131
value=131
res=0

while(integer>0):
    
    remainder=integer%10
    
    res=res*10+remainder
    
    integer=integer//10
    
if value==res:
    
    print("palindome")

palindome

# Palindome String

In [8]:
string="ANA"

res=""

for i in string:
    
    res=i+res
print(res)

if res==string:
    print("Palindome")

ANA
Palindome

# Longest Palindome String

# Prime Number

In [24]:
n=56
palindome=True
for i in range(2,n):
    if n%i==0:
        palindome=False
        
        
print(palindome)

False

# Find All Prime Number From Array

In [25]:
arr=[3,4,5,6,7,8,8,9,8,7,56,5,32,5,55]


for n in arr:
    palindome=True
    for i in range(2,n):
        if n%i==0:
            palindome=False


    print(palindome,n)

True 3
False 4
True 5
False 6
True 7
False 8
False 8
False 9
False 8
True 7
False 56
True 5
False 32
True 5
False 55

# ODD Number Sum

In [9]:
arr=[2,1,2,3,4,5,6,3,2,5,6,7]
s=0
for i in arr:
    
    if i%2!=0:
        s+=i
print(s)

24

In [10]:
s=0
for i in arr:
    
    if i%2==0:
        s+=i
print(s)

22

# Array Frequency

In [33]:
arr=[2,3,2,3,4,2,2,3,4,5,3,2,2,3,54,56,34,2,3,4,4,3,2,34,4,5,3,2,2,3,34,3,45,45,5,6,67,7,78,5,4,43,34,7,7,7,7,54]

d={}

for i in arr:
    
    if i not in d.keys():
        
        d[i]=1
    else:
        
        d[i]+=1

In [34]:
d

{2: 10,
 3: 10,
 4: 6,
 5: 4,
 54: 2,
 56: 1,
 34: 4,
 45: 2,
 6: 1,
 67: 1,
 7: 5,
 78: 1,
 43: 1}

# remove duplicates from an array

In [75]:
arr=[1,2,1,3,2,3,4,3,2,4,5,6,7,8,9,0,2,3,2,22,33,11,22,33,11,33,3]

size=len(arr)

print(size)

for i in range(size):
    
    for j in range(i+1,size):
        
        if arr[i]==arr[j]:
            
            for k in range(j,size-1):
                
                arr[k]=arr[k+1]
                
            j-=1       
            size-=1

27

In [76]:
size

13

In [77]:
arr[:13]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 22, 33, 11]

# Remove Duplicates from Sorted Array

In [52]:
arr=[1,2,1,3,2,3,4,3,2,4,5,6,7,8,9,0,2,3,2,22,33,11,22,33,11,33,3]

arr.sort()

for i in range(len(arr)-1):
    
    if arr[i]==arr[i+1]:
        
        length=1
        
        for j in range(i+2,len(arr)):
            
            if arr[i]==arr[j]:
                
                length+=1
                print(length)
        for k in range(i+2,i+length):
            
            arr[k]==arr[k+1]
print(arr)

2
3
4
2
3
2
2
3
4
2
3
2
2
[0, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 5, 6, 7, 8, 9, 11, 11, 22, 22, 33, 33, 33]

# Add Two Array Indexwise

In [88]:
arr1=[2,3,5,4,6,7,8]
arr2=[2,3,5,4,6,7,8]


for i in range(len(arr1)):
    
    arr1[i]=arr1[i]+arr2[i]
    
print(arr1)

[4, 6, 10, 8, 12, 14, 16]

# List Value Convert To Integer abd String

In [6]:
lst=[1,2,1,2,3]

lst.sort(reverse=True)

value=0

values=""

for i in lst:
    
    value=value*10+i
    
    values+=str(i)
print(value)    

print(values)

32211
32211

In [11]:
lst=list('abc')

for i in lst:
    
    x=lst[i]
    
    xs=lsit[i:]+lst[i+1:]

['a', 'b', 'c']
['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
# from itertools import permutations

# from itertools import combinations

# Fibonacci Number

In [12]:
n=10

fibonocci=[0,1]

a,b=0,1

for i in range(n):
    
    c=a+b
    
    a,b=b,c
    
    fibonocci.append(c)
    
print(fibonocci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

# Sum of Unique Elements

In [15]:
arr=[2,3,4,5,4,34,3,4,5,6,4,3,65,4,32,22,2,3,4,5,65]


d={}

for i in arr:
    
    if i not in d.keys():
        
        d[i]=1
    else:
        
        d[i]+=1

s=0

for key,value in d.items():
    
    if value==1:
        
        s+=key
        
        print(key)
        
print(s)

34
6
32
22
94

# Integer Sum and Product

In [26]:
integer=3456
s,p=0,1

while(integer>0):
    
    remainder=integer%10
    
    s+=remainder
    
    p*=remainder
    
    integer=integer//10
    
print(s,p)

18 360

# Armstrong Number

In [27]:
integer=1634
s=0

n=4

while(integer>0):
    
    remainder=integer%10
    
    s+=remainder**n
    
    integer=integer//10
    
print(s)

1634

# Missing value of an array

In [40]:
# 1-10

sum1=(10*(10+1))/2

sum2=0

arr=[1,2,3,4,5,6,8,9,10]

for i in arr:
    
    sum2+=i
    
print(sum1-sum2)

7.0

# Remove a Character from a string

In [5]:
char='a'
string="anamul"

s=""

for i in string:
    
    if i not in char:
    
        s+=i
s

'nmul'

# Replace All Digits with Characters

In [43]:
s = "a1c1e1"

string=[]

for i in range(len(s)):

    if s[i].isdigit():

        digit=s[i]

        start=s[i-1]

        code=ord(start)

        nexts=code+int(s[i])

        next_char=chr(nexts)

        string.append(next_char)

    else:

        string.append(s[i])
        
''.join(string)

'abcdef'

# Find All Numbers Disappeared in an Array

In [44]:
nums = [4,3,2,7,8,2,3,1]

n=len(nums)+1

nums=set(nums)

lst=[]

for i in range(1,n):

    if i not in nums:

        lst.append(i)

lst

[5, 6]

In [2]:
k=True+bool('s')

In [3]:
k

2